
/* LARGE VIEW 1024px ABOVE */
@media (min-width: 1025px) and (orientation: landscape){
    .imgPreview .allContainer{
        position: fixed;
            display: flex;
            flex-direction: column;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 90%;
            width: 70%;
            background-color: #3d3d3d;
            border-width: 2px;
            border-style: solid;
            border-color: aliceblue;
            border-radius: 10px;
            padding: 20px;
            justify-content: flex-start;
    }

    /*
    camera part
    */
    .imgPreview .allContainer .imageContainer{
        position: relative;
        /* transform: translate(-50%, -50%); */
        height: 75%;
        width: 90%; 
        margin: auto;
    }

    .imgPreview .allContainer #buttonContainer{
        display: flex;
        justify-content: center;
        gap: 5vh;
        width: 90%;
        margin: auto;
        align-items: center;
    }

    .imgPreview .allContainer .imageContainer .photo{
        height: 100%;
        width: 100%; 
    }

    .imgPreview .allContainer #buttonContainer .take{
        pointer-events: all;
        cursor: pointer;
        border: none;
        border-radius: 5px 5px;
        color: white;
        background-color: #e7641e;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
        font-size: clamp(3vh, 4vh, 4vh);
        height: clamp(8vh, 10vh, 10vh);
        width: clamp(15vh, 20vh, 20vh);
        box-shadow: 1vh 1vh 0 0 rgb(41, 41, 41);
    }

    .imgPreview .allContainer #buttonContainer .close{
        pointer-events: all;
        cursor: pointer;
        border: none;
        border-radius: 5px 5px;
        color: white;
        background-color: #e7641e;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
        font-size: clamp(3vh, 4vh, 4vh);
        height: clamp(8vh, 10vh, 10vh);
        width: clamp(15vh, 20vh, 20vh);
        box-shadow: 1vh 1vh 0 0 rgb(41, 41, 41);
    }
}