
@media (min-width: 1025px){
    .forgotPasswordEmailMainContainer{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .forgotPasswordEmailMainContainer .labelsContainer #mainLabelContainer #mainLabel{
        color: white;
        font-size: clamp(3vh,5vh,5vh);
        font-weight: 600;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-bottom: 1vh;
    }

    .forgotPasswordEmailMainContainer .labelsContainer #extraDescriptionContainer #extraDescription{
        color: white;
        font-size: clamp(1vh,2vh,2vh);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-bottom: 3vh;
    }

    .forgotPasswordEmailMainContainer .emailInputField #emailLabelContainer{
        color: white;
        font-size: clamp(2vh,3vh,3vh);
        font-weight: 500;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        margin-bottom: 1vh;
    }

    .forgotPasswordEmailMainContainer .emailInputField #emailLabelContainer #emailLabel{
        margin: 0;
    }

    .forgotPasswordEmailMainContainer .emailInputField #emailInputFieldContainer #emailInputField{
        height: clamp(3vh,5vh,5vh);
        font-size: clamp(2vh,3vh,3vh);
        width: 100%;
        margin: 0;
        margin-bottom: 6vh;
    }
}

@media (min-width: 1024px) and (orientation: portrait){
    .forgotPasswordEmailMainContainer{
        /* height: 100%; */
        width: 90%;
        display: flex;
        flex-direction: column;
        margin-bottom: 10vh;
    }

    .forgotPasswordEmailMainContainer .labelsContainer #mainLabelContainer #mainLabel{
        color: white;
        font-size: clamp(3vh,5vh,5vh);
        font-weight: 600;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-bottom: 1vh;
    }

    .forgotPasswordEmailMainContainer .labelsContainer #extraDescriptionContainer #extraDescription{
        color: white;
        font-size: clamp(1vh,2vh,2vh);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-bottom: 3vh;
    }

    .forgotPasswordEmailMainContainer .emailInputField #emailLabelContainer{
        color: white;
        font-size: clamp(2vh,3vh,3vh);
        font-weight: 500;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        margin-bottom: 1vh;
    }

    .forgotPasswordEmailMainContainer .emailInputField #emailLabelContainer #emailLabel{
        margin: 0;
    }

    .forgotPasswordEmailMainContainer .emailInputField #emailInputFieldContainer #emailInputField{
        height: clamp(3vh,5vh,5vh);
        font-size: clamp(2vh,3vh,3vh);
        width: 100%;
        margin: 0;
        margin-bottom: 6vh;
    }
}

/* MEDIUM VIEW 600px UP TO 1023px AND LANDSCAPE ORIENTATION*/
@media (min-width: 600px) and (max-width: 1024px) and (orientation: landscape){
    .forgotPasswordEmailMainContainer{
        /* height: 100%; */
        width: 90%;
        display: flex;
        flex-direction: column;
        margin-bottom: 10vh;
    }

    .forgotPasswordEmailMainContainer .labelsContainer #mainLabelContainer #mainLabel{
        color: white;
        font-size: clamp(3vh,5vh,5vh);
        font-weight: 600;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-bottom: 1vh;
    }

    .forgotPasswordEmailMainContainer .labelsContainer #extraDescriptionContainer #extraDescription{
        color: white;
        font-size: clamp(1.6vh,2.5vh,2.5vh);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-bottom: 3vh;
    }

    .forgotPasswordEmailMainContainer .emailInputField #emailLabelContainer{
        color: white;
        font-size: clamp(2vh,3vh,3vh);
        font-weight: 500;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        margin-bottom: 1vh;
    }

    .forgotPasswordEmailMainContainer .emailInputField #emailLabelContainer #emailLabel{
        margin: 0;
    }

    .forgotPasswordEmailMainContainer .emailInputField #emailInputFieldContainer #emailInputField{
        height: clamp(3vh,5vh,5vh);
        font-size: clamp(2vh,3vh,3vh);
        width: 100%;
        margin: 0;
        /* margin-bottom: 6vh; */
    }
}

/* MEDIUM VIEW 600px UP TO 1023px AND PORTRAIT ORIENTATION*/
@media (min-width: 600px) and (max-width: 1024px) and (orientation: portrait){
    .forgotPasswordEmailMainContainer{
        /* height: 100%; */
        width: 90%;
        display: flex;
        flex-direction: column;
        margin-bottom: 10vh;
    }

    .forgotPasswordEmailMainContainer .labelsContainer #mainLabelContainer #mainLabel{
        color: white;
        font-size: clamp(3vh,5vh,5vh);
        font-weight: 600;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-bottom: 1vh;
    }

    .forgotPasswordEmailMainContainer .labelsContainer #extraDescriptionContainer #extraDescription{
        color: white;
        font-size: clamp(1vh,2vh,2vh);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-bottom: 3vh;
    }

    .forgotPasswordEmailMainContainer .emailInputField #emailLabelContainer{
        color: white;
        font-size: clamp(2vh,3vh,3vh);
        font-weight: 500;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        margin-bottom: 1vh;
    }

    .forgotPasswordEmailMainContainer .emailInputField #emailLabelContainer #emailLabel{
        margin: 0;
    }

    .forgotPasswordEmailMainContainer .emailInputField #emailInputFieldContainer #emailInputField{
        height: clamp(3vh,5vh,5vh);
        font-size: clamp(2vh,3vh,3vh);
        width: 100%;
        margin: 0;
        margin-bottom: 6vh;
    }
}

@media (max-width: 767px) and (orientation: portrait) {
    .forgotPasswordEmailMainContainer{
        /* height: 100%; */
        width: 90%;
        display: flex;
        flex-direction: column;
        margin-bottom: 6vh;
    }

    .forgotPasswordEmailMainContainer .labelsContainer #mainLabelContainer #mainLabel{
        color: white;
        font-size: clamp(2vh,3vh,3vh);
        font-weight: 600;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-bottom: 1vh;
    }

    .forgotPasswordEmailMainContainer .labelsContainer #extraDescriptionContainer #extraDescription{
        color: white;
        font-size: clamp(1vh,1.6vh,1.6vh);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-bottom: 3vh;
    }

    .forgotPasswordEmailMainContainer .emailInputField #emailLabelContainer{
        color: white;
        font-size: clamp(2vh,3vh,3vh);
        font-weight: 500;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        margin-bottom: 1vh;
    }

    .forgotPasswordEmailMainContainer .emailInputField #emailLabelContainer #emailLabel{
        margin: 0;
    }

    .forgotPasswordEmailMainContainer .emailInputField #emailInputFieldContainer #emailInputField{
        height: clamp(3vh,5vh,5vh);
        font-size: clamp(2vh,3vh,3vh);
        width: 100%;
        margin: 0;
        /* margin-bottom: 6vh; */
    }
}

/* FOR SMALL SCREENS (MOBILE DEVICES) LANDSCAPE ORIENTATION*/
@media (max-width: 767px) and (orientation: landscape){
    .forgotPasswordEmailMainContainer{
        /* height: 100%; */
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 10vh;
    }

    .forgotPasswordEmailMainContainer .labelsContainer #mainLabelContainer #mainLabel{
        color: white;
        font-size: clamp(4vh,6vh,6vh);
        font-weight: 600;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-bottom: 1vh;
    }

    .forgotPasswordEmailMainContainer .labelsContainer #extraDescriptionContainer #extraDescription{
        color: white;
        font-size: clamp(2vh,3vh,3vh);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-bottom: 3vh;
    }

    .forgotPasswordEmailMainContainer .emailInputField #emailLabelContainer{
        color: white;
        font-size: clamp(2vh,3vh,3vh);
        font-weight: 500;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        margin-bottom: 1vh;
    }

    .forgotPasswordEmailMainContainer .emailInputField #emailLabelContainer #emailLabel{
        margin: 0;
    }

    .forgotPasswordEmailMainContainer .emailInputField #emailInputFieldContainer #emailInputField{
        height: clamp(3vh,5vh,5vh);
        font-size: clamp(2vh,3vh,3vh);
        width: 100%;
        margin: 0;
        /* margin-bottom: 6vh; */
    }
}