.mainFooterContainer{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonContainer{
    width: 95vw;
    display: flex;
    justify-content: space-between;
}

.mainFooterContainer .buttonContainer button{
    background-color: rgb(255, 89, 0);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.385);
    color: white;
    height: 9vh;
    width: 13vw;
    font-weight: bold;
    font-size: 3.5vh;
}