.mainFooterContainer{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonContainer{
    width: 95vw;
    display: flex;
    justify-content: space-between;
}

.buttons{
    background-color: rgb(255, 89, 0);
    border-color: white;
    border-width: 4px;
    color: white;
    height: 9vh;
    width: 13vw;
    font-weight: bold;
    font-size: 3.5vh;
}