/* LARGE VIEW 1024px ABOVE */
@media (min-width: 1025px) and (orientation: landscape){
    .step5IndividualAccountPersonalization{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .step5IndividualAccountPersonalization #mainLabel{
        color: white;
        font-size: clamp(4vh, 5vh, 5vh);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        font-weight: 600;
        margin: 0;
        margin-bottom: 20px; /* Add spacing below the label */
    }
    
    .step5IndividualAccountPersonalization #mainContainer{
        display: flex;
        flex-direction: column;
        gap: 6vh;
    }
    
    .step5IndividualAccountPersonalization #mainContainer #countryFieldContainer{
        display: flex;
        flex-direction: column;
    }
    
    .step5IndividualAccountPersonalization #mainContainer #countryFieldContainer #countryLabel{
        color: white;
        font-size: clamp(3vh, 4vh, 4vh);
        margin: 0;
        margin-bottom: 2vh;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
    }
    
    .step5IndividualAccountPersonalization #mainContainer #countryFieldContainer #countryInputDropdown{
        height: clamp(4vh, 5vh, 5vh);
        font-size: clamp(3vh, 3.5vh, 3.5vh);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    .step5IndividualAccountPersonalization #mainContainer #cityFieldContainer{
        display: flex;
        flex-direction: column;
    }
    
    .step5IndividualAccountPersonalization #mainContainer #cityFieldContainer #cityLabel{
        color: white;
        font-size: clamp(3vh, 4vh, 4vh);
        margin: 0;
        margin-bottom: 2vh;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
    }
    
    .step5IndividualAccountPersonalization #mainContainer #cityFieldContainer #cityInputDropdown{
        height: clamp(4vh, 5vh, 5vh);
        font-size: clamp(3vh, 3.5vh, 3.5vh);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}

@media (min-height: 1024px) and (orientation: portrait){
    .step5IndividualAccountPersonalization{
        display: flex;
        flex-direction: column;
        /* width: 100%; */
        margin-left: auto;
        margin-right: auto;
        gap: 3vh;
    }
    
    .step5IndividualAccountPersonalization #mainLabel{
        color: white;
        font-size: clamp(3.5vh, 4vh, 4vh);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        font-weight: 600;
        margin: 0;
        margin-top: 2vh;
        margin-bottom: 20px; /* Add spacing below the label */
    }
    
    .step5IndividualAccountPersonalization #mainContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4vh;
    }
    
    .step5IndividualAccountPersonalization #mainContainer #countryFieldContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .step5IndividualAccountPersonalization #mainContainer #countryFieldContainer #countryLabel{
        color: white;
        font-size: clamp(3vh, 4vh, 4vh);
        margin: 0;
        margin-bottom: 2vh;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
    }
    
    .step5IndividualAccountPersonalization #mainContainer #countryFieldContainer #countryInputDropdown{
        height: clamp(4vh, 5vh, 5vh);
        width: 90%;
        font-size: clamp(3vh, 3.5vh, 3.5vh);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    .step5IndividualAccountPersonalization #mainContainer #cityFieldContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    
    .step5IndividualAccountPersonalization #mainContainer #cityFieldContainer #cityLabel{
        color: white;
        font-size: clamp(3vh, 4vh, 4vh);
        margin: 0;
        margin-bottom: 2vh;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
    }
    
    .step5IndividualAccountPersonalization #mainContainer #cityFieldContainer #cityInputDropdown{
        height: clamp(4vh, 5vh, 5vh);
        width: 90%;
        font-size: clamp(3vh, 3.5vh, 3.5vh);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}

/* MEDIUM VIEW 600px UP TO 1023px AND LANDSCAPE ORIENTATION*/
@media (min-width: 600px) and (max-width: 1024px) and (orientation: landscape){
    .step5IndividualAccountPersonalization{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .step5IndividualAccountPersonalization #mainLabel{
        color: white;
        font-size: clamp(4vh, 5vh, 5vh);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        font-weight: 600;
        margin: 0;
        margin-bottom: 20px; /* Add spacing below the label */
    }
    
    .step5IndividualAccountPersonalization #mainContainer{
        display: flex;
        flex-direction: column;
        gap: 6vh;
    }
    
    .step5IndividualAccountPersonalization #mainContainer #countryFieldContainer{
        display: flex;
        flex-direction: column;
    }
    
    .step5IndividualAccountPersonalization #mainContainer #countryFieldContainer #countryLabel{
        color: white;
        font-size: clamp(3vh, 4vh, 4vh);
        margin: 0;
        margin-bottom: 2vh;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
    }
    
    .step5IndividualAccountPersonalization #mainContainer #countryFieldContainer #countryInputDropdown{
        height: clamp(6vh, 7vh, 7vh);
        font-size: clamp(4vh, 5vh, 5vh);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    .step5IndividualAccountPersonalization #mainContainer #cityFieldContainer{
        display: flex;
        flex-direction: column;
    }
    
    .step5IndividualAccountPersonalization #mainContainer #cityFieldContainer #cityLabel{
        color: white;
        font-size: clamp(3vh, 4vh, 4vh);
        margin: 0;
        margin-bottom: 2vh;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
    }
    
    .step5IndividualAccountPersonalization #mainContainer #cityFieldContainer #cityInputDropdown{
        height: clamp(6vh, 7vh, 7vh);
        font-size: clamp(4vh, 5vh, 5vh);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}

/* MEDIUM VIEW 600px UP TO 1023px AND PORTRAIT ORIENTATION*/
@media (min-width: 600px) and (max-width: 1024px) and (orientation: portrait){
    .step5IndividualAccountPersonalization{
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        gap: 3vh;
    }
    
    .step5IndividualAccountPersonalization #mainLabel{
        color: white;
        font-size: clamp(3.5vh, 4vh, 4vh);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        font-weight: 600;
        margin: 0;
        margin-top: 2vh;
        margin-bottom: 20px; /* Add spacing below the label */
    }
    
    .step5IndividualAccountPersonalization #mainContainer{
        display: flex;
        flex-direction: column;
        gap: 4vh;
    }
    
    .step5IndividualAccountPersonalization #mainContainer #countryFieldContainer{
        display: flex;
        flex-direction: column;
    }
    
    .step5IndividualAccountPersonalization #mainContainer #countryFieldContainer #countryLabel{
        color: white;
        font-size: clamp(3vh, 4vh, 4vh);
        margin: 0;
        margin-bottom: 2vh;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
    }
    
    .step5IndividualAccountPersonalization #mainContainer #countryFieldContainer #countryInputDropdown{
        height: clamp(4vh, 5vh, 5vh);
        font-size: clamp(3vh, 3.5vh, 3.5vh);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    .step5IndividualAccountPersonalization #mainContainer #cityFieldContainer{
        display: flex;
        flex-direction: column;
    }
    
    .step5IndividualAccountPersonalization #mainContainer #cityFieldContainer #cityLabel{
        color: white;
        font-size: clamp(3vh, 4vh, 4vh);
        margin: 0;
        margin-bottom: 2vh;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
    }
    
    .step5IndividualAccountPersonalization #mainContainer #cityFieldContainer #cityInputDropdown{
        height: clamp(4vh, 5vh, 5vh);
        font-size: clamp(3vh, 3.5vh, 3.5vh);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}

@media (max-width: 767px) and (orientation: portrait){
    .step5IndividualAccountPersonalization{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        gap: 3vh;
    }
    
    .step5IndividualAccountPersonalization #mainLabel{
        color: white;
        font-size: clamp(3vh, 3.5vh, 3.5vh);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        font-weight: 600;
        margin: 0;
    }
    
    .step5IndividualAccountPersonalization #mainContainer{
        display: flex;
        flex-direction: column;
        gap: 6vh;
    }
    
    .step5IndividualAccountPersonalization #mainContainer #countryFieldContainer{
        display: flex;
        flex-direction: column;
    }
    
    .step5IndividualAccountPersonalization #mainContainer #countryFieldContainer #countryLabel{
        color: white;
        font-size: clamp(3vh, 4vh, 4vh);
        margin: 0;
        margin-bottom: 2vh;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
    }
    
    .step5IndividualAccountPersonalization #mainContainer #countryFieldContainer #countryInputDropdown{
        height: clamp(4vh, 5vh, 5vh);
        font-size: clamp(3vh, 3.5vh, 3.5vh);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    .step5IndividualAccountPersonalization #mainContainer #cityFieldContainer{
        display: flex;
        flex-direction: column;
    }
    
    .step5IndividualAccountPersonalization #mainContainer #cityFieldContainer #cityLabel{
        color: white;
        font-size: clamp(3vh, 4vh, 4vh);
        margin: 0;
        margin-bottom: 2vh;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
    }
    
    .step5IndividualAccountPersonalization #mainContainer #cityFieldContainer #cityInputDropdown{
        height: clamp(4vh, 5vh, 5vh);
        font-size: clamp(3vh, 3.5vh, 3.5vh);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}

@media (max-width: 767px) and (orientation: landscape){
    .step5IndividualAccountPersonalization{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .step5IndividualAccountPersonalization #mainLabel{
        color: white;
        font-size: clamp(5vh, 6vh, 6vh);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        font-weight: 600;
        margin: 0;
        margin-bottom: 20px; /* Add spacing below the label */
    }
    
    .step5IndividualAccountPersonalization #mainContainer{
        display: flex;
        flex-direction: column;
        gap: 6vh;
    }
    
    .step5IndividualAccountPersonalization #mainContainer #countryFieldContainer{
        display: flex;
        flex-direction: column;
    }
    
    .step5IndividualAccountPersonalization #mainContainer #countryFieldContainer #countryLabel{
        color: white;
        font-size: clamp(3vh, 4vh, 4vh);
        margin: 0;
        margin-bottom: 2vh;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
    }
    
    .step5IndividualAccountPersonalization #mainContainer #countryFieldContainer #countryInputDropdown{
        height: clamp(6vh, 7vh, 7vh);
        font-size: clamp(4vh, 5vh, 5vh);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    .step5IndividualAccountPersonalization #mainContainer #cityFieldContainer{
        display: flex;
        flex-direction: column;
    }
    
    .step5IndividualAccountPersonalization #mainContainer #cityFieldContainer #cityLabel{
        color: white;
        font-size: clamp(3vh, 4vh, 4vh);
        margin: 0;
        margin-bottom: 2vh;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
    }
    
    .step5IndividualAccountPersonalization #mainContainer #cityFieldContainer #cityInputDropdown{
        height: clamp(6vh, 7vh, 7vh);
        font-size: clamp(4vh, 5vh, 5vh);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}

/* FOR SMALL SCREENS (MOBILE DEVICES) LANDSCAPE ORIENTATION*/
@media (max-width: 1000px) and (max-height: 500px) and (orientation: landscape){
    .step5IndividualAccountPersonalization{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .step5IndividualAccountPersonalization #mainLabel{
        color: white;
        font-size: clamp(5vh, 6vh, 6vh);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        font-weight: 600;
        margin: 0;
        margin-bottom: 20px; /* Add spacing below the label */
    }
    
    .step5IndividualAccountPersonalization #mainContainer{
        display: flex;
        flex-direction: column;
        gap: 6vh;
    }
    
    .step5IndividualAccountPersonalization #mainContainer #countryFieldContainer{
        display: flex;
        flex-direction: column;
    }
    
    .step5IndividualAccountPersonalization #mainContainer #countryFieldContainer #countryLabel{
        color: white;
        font-size: clamp(3vh, 4vh, 4vh);
        margin: 0;
        margin-bottom: 2vh;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
    }
    
    .step5IndividualAccountPersonalization #mainContainer #countryFieldContainer #countryInputDropdown{
        height: clamp(6vh, 7vh, 7vh);
        font-size: clamp(4vh, 5vh, 5vh);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    .step5IndividualAccountPersonalization #mainContainer #cityFieldContainer{
        display: flex;
        flex-direction: column;
    }
    
    .step5IndividualAccountPersonalization #mainContainer #cityFieldContainer #cityLabel{
        color: white;
        font-size: clamp(3vh, 4vh, 4vh);
        margin: 0;
        margin-bottom: 2vh;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
    }
    
    .step5IndividualAccountPersonalization #mainContainer #cityFieldContainer #cityInputDropdown{
        height: clamp(6vh, 7vh, 7vh);
        font-size: clamp(4vh, 5vh, 5vh);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}

/* FOR SMALL SCREENS (MOBILE DEVICES) LANDSCAPE ORIENTATION*/
@media (max-height: 1000px) and (max-width: 500px) and (orientation: portrait){
    .step5IndividualAccountPersonalization{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        gap: 5vh;
    }
    
    .step5IndividualAccountPersonalization #mainLabel{
        color: white;
        font-size: clamp(2.5vh, 3vh, 3vh);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        font-weight: 600;
        margin: 0;
    }
    
    .step5IndividualAccountPersonalization #mainContainer{
        display: flex;
        flex-direction: column;
        gap: 6vh;
    }
    
    .step5IndividualAccountPersonalization #mainContainer #countryFieldContainer{
        display: flex;
        flex-direction: column;
    }
    
    .step5IndividualAccountPersonalization #mainContainer #countryFieldContainer #countryLabel{
        color: white;
        font-size: clamp(3vh, 4vh, 4vh);
        margin: 0;
        margin-bottom: 2vh;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
    }
    
    .step5IndividualAccountPersonalization #mainContainer #countryFieldContainer #countryInputDropdown{
        height: clamp(4vh, 5vh, 5vh);
        font-size: clamp(3vh, 3.5vh, 3.5vh);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    .step5IndividualAccountPersonalization #mainContainer #cityFieldContainer{
        display: flex;
        flex-direction: column;
    }
    
    .step5IndividualAccountPersonalization #mainContainer #cityFieldContainer #cityLabel{
        color: white;
        font-size: clamp(3vh, 4vh, 4vh);
        margin: 0;
        margin-bottom: 2vh;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
    }
    
    .step5IndividualAccountPersonalization #mainContainer #cityFieldContainer #cityInputDropdown{
        height: clamp(4vh, 5vh, 5vh);
        font-size: clamp(3vh, 3.5vh, 3.5vh);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}