body{
    position: relative;
    left: 0;
    top: 0;
    margin: 0;
    height: 100vh; 
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    box-sizing: border-box; /* Includes padding and borders in the element's total width and height */
}

/* LARGE VIEW 1024px ABOVE */
@media (min-width: 1025px){
    .step1IndividualAccountPersonalization{
        position: absolute;
        /* height: 100%; */
        box-sizing: border-box; /* Includes padding and borders in the element's total width and height */
        width: 100%;
    }
    
    .step1IndividualAccountPersonalization .mainLabel .header{
        display: flex;
        justify-content: space-between;
        /* width: 100%; */
        padding-top: 30px;
        padding-left: 30px;
        padding-right: 30px;
        /* background-color: aqua; */
        /* height: 5vh; */
    }
    
    .step1IndividualAccountPersonalization .mainLabel .header #greetingContainer #welcomeTo{
        color:white;
        font-size: clamp(1.6vh, 2.5vh, 2.5vh);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
    }
    
    .step1IndividualAccountPersonalization .mainLabel .header #greetingContainer #logoContainer .logo{
        margin: 0;
        padding: 0;
        height: auto;
        margin-left: 3vh;
    }
    
    .step1IndividualAccountPersonalization .mainLabel .header #greetingContainer #logoContainer .logo #logoFirstPart{
        font-size: clamp(5vh, 7vh, 7vh);
        margin: 0;
    }
    
    .step1IndividualAccountPersonalization .mainLabel .header #greetingContainer #logoContainer .logo #logoPickIcon{
        height: clamp(5vh, 7vh, 7vh);
        margin: 0;
    }
    
    .step1IndividualAccountPersonalization .mainLabel .header #greetingContainer #logoContainer .logo #logoSecondPart{
        font-size: clamp(5vh, 7vh, 7vh);
        margin: 0;
    }
    
    .step1IndividualAccountPersonalization .mainLabel .header #promptLabel{
        display: flex;
        /* justify-content: center; */
        align-items: center;
        /* background-color: aqua; */
        /* height: 5vh; */
    }
    
    .step1IndividualAccountPersonalization .mainLabel .header #promptLabel #promptLabelText{
        color: white;
        display: flex;
        font-size: clamp(3.5vh, 4.5vh, 4.5vh);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        margin-top: 4vh;
        font-weight: 600;
        /* background-color: aqua; */
        /* height: 5vh; */
    }

    .step1IndividualAccountPersonalization #dividerLine{
        /* height: 1px; */
        background-color: white;
        width: 98%;
        margin: 0;
    }

    .step1IndividualAccountPersonalization .bottomMainContainer{
        /* background-color: aquamarine; */
        height: 100%;
        /* flex: 1;  */
        /* overflow: hidden; */
        /* flex-grow: 0.5; */
    }

    .step1IndividualAccountPersonalization .bottomMainContainer .upperPartContainer{
        display: flex;
        max-height: 20%;
        padding: 30px;
        /* overflow: hidden; */
    }

    .step1IndividualAccountPersonalization .bottomMainContainer .lowerPartContainer{
        display: flex;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
        flex-grow: 1;
    }


    .step1IndividualAccountPersonalization .bottomMainContainer .upperPartContainer #leftInnerContainer{
        display: flex;
        flex-direction: column;
        width:80%;
        max-height: 100%;
        overflow: hidden; /* Ensures content is contained within this element */
    }

    .step1IndividualAccountPersonalization .bottomMainContainer .upperPartContainer #rightInnerContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2vh;
        flex-grow: 1;
        padding-left: 30px;
        /* background-color: green; */
    }

    .step1IndividualAccountPersonalization .bottomMainContainer .upperPartContainer #rightInnerContainer .stepIndicator{
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-weight: 600;
        font-size: clamp(2vh, 3.5vh, 3.5vh);
        border-radius: 5px 5px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #484848;
        border: 0.25vh solid white;
        height: 6vh;
        width: 80%;
    }

    .step1IndividualAccountPersonalization .bottomMainContainer .upperPartContainer #leftInnerContainer .replaceableContent{
        background-color: #2a2a2a;
        overflow-y: auto;
        flex-grow: 1; /* Ensure it grows to take the available space */
        height: 65vh;
        width: 100%;
    }

    /* Replaceable content styles... */
    .step1IndividualAccountPersonalization .bottomMainContainer .upperPartContainer #leftInnerContainer .replaceableContent .userTermsAndAgreements{
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    .step1IndividualAccountPersonalization .bottomMainContainer .upperPartContainer #leftInnerContainer .replaceableContent .userTermsAndAgreements .mainTitleContainer{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .step1IndividualAccountPersonalization .bottomMainContainer .upperPartContainer #leftInnerContainer .replaceableContent .userTermsAndAgreements .mainTitleContainer #mainTitle{
        color: white;
        font-weight: 600;
        font-size: clamp(2vh, 3.5vh, 3.5vh);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .step1IndividualAccountPersonalization .bottomMainContainer .upperPartContainer #leftInnerContainer .replaceableContent .userTermsAndAgreements .mainBodyContainer{
        flex: 1; /* Takes remaining space */
        padding-top: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .step1IndividualAccountPersonalization .bottomMainContainer .upperPartContainer #leftInnerContainer .replaceableContent .userTermsAndAgreements .mainBodyContainer #mainContent{
        color: white;
        font-size: clamp(1.5vh, 2.5vh, 2.5vh);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
    }

    .step1IndividualAccountPersonalization .bottomMainContainer .upperPartContainer #leftInnerContainer .replaceableContent .userTermsAndAgreements .checkboxContainer{
        /* background-color: #e7641e; */
        display: flex;
        gap: 2vh;
        align-items: center;
        padding-left: 30px;
        padding-right: 30px;
        /* padding-bottom: 10px; */

    }

    .step1IndividualAccountPersonalization .bottomMainContainer .upperPartContainer #leftInnerContainer .replaceableContent .userTermsAndAgreements .checkboxContainer #checkbox{
        height: 5vh;
        width: 5vh;
        border-radius: 10px 10px;
    }

    .step1IndividualAccountPersonalization .bottomMainContainer .upperPartContainer #leftInnerContainer .replaceableContent .userTermsAndAgreements .checkboxContainer #checkbox:checked{
        accent-color: #f16c25;
        height: 5vh;
        width: 5vh;
    }

    .step1IndividualAccountPersonalization .bottomMainContainer .upperPartContainer #leftInnerContainer .replaceableContent .userTermsAndAgreements .checkboxContainer #label{
        color: white;
        font-size: clamp(1.5vh, 2.5vh, 2.5vh);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
    }


    .step1IndividualAccountPersonalization .bottomMainContainer .lowerPartContainer .buttonContainer{
        /* background-color: antiquewhite; */
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }

    .step1IndividualAccountPersonalization .bottomMainContainer .lowerPartContainer .buttonContainer #backButton{
        cursor: pointer;
        color: white;
        background-color: #e7641e;
        border: none;
        border-radius: 5px 5px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
        font-size: clamp(3vh, 4vh, 4vh);
        height: clamp(7vh, 8vh, 8vh);
        width: clamp(15vh, 20vh, 20vh);
        box-shadow: 1vh 1vh 0 0 rgb(41, 41, 41);
    }

    .step1IndividualAccountPersonalization .bottomMainContainer .lowerPartContainer .buttonContainer #nextButton{
        cursor: pointer;
        color: white;
        background-color: #e7641e;
        border: none;
        border-radius: 5px 5px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
        font-size: clamp(3vh, 4vh, 4vh);
        height: clamp(7vh, 8vh, 8vh);
        width: clamp(15vh, 20vh, 20vh);
        box-shadow: 1vh 1vh 0 0 rgb(41, 41, 41);
    }
}