body{
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    top: 0;
    padding: 0;
    margin: 0;
}

/* LARGE VIEW 1024px ABOVE */
@media (min-width: 1025px){
    .loadingMainContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        /* width: 100%; */
    }

    .loadingLogoContainer{
        margin-top: 20vh;
    }

    #loadingMainLabel{
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        /* margin-top: 2vh; */
        word-spacing: 2px;
        margin-bottom: 15vh;
        font-size: clamp(2vh, 3vh, 3vh);
    }

    #loadingReassuranceText{
        color: white;
        font-size: clamp(2vh, 3vh, 3vh);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-bottom: 3vh;
    }
}
