/* LARGE VIEW 1024px ABOVE */
@media (min-width: 1025px) and (orientation: landscape){
    #cameraMainContainer #overlay{
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: #363636;
        opacity: 0.7;
        z-index: 99;
    }

    .seventhForm .cameraContainer{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 85%;
        width: 80%;
        background-color: #3d3d3d;
        border-width: 2px;
        border-style: solid;
        border-color: aliceblue;
        border-radius: 10px;
    }
    
    /*
      camera part
    */
    .seventhForm #camera{
        transform: translate(-50%, -50%);
        height: 80vh;
        width: 70vh; 
    
        background-color: rgb(26, 26, 26);
    }
    
    .seventhForm .cameraButton{
        height: 9.75vh;
        width: 4.9vw;
        position: relative;
        top: 4.75%;
        left: 40%;
    }
    
    .seventhForm .closeButton{
        height: 7vh;
        position: relative;
        top: 3%;
        left: 0.5%;
    }
    
    .seventhForm .imgPrev{
        height: 9vh;
        width: 5.5vw;
        position: relative;
        top: 4.5%;
        left: 76.25%;
    }
}

@media (min-height: 1024px) and (orientation: portrait){
    #cameraMainContainer #overlay{
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: #363636;
        opacity: 0.7;
        z-index: 99;
    }

    .seventhForm .cameraContainer{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 85%;
        width: 80%;
        background-color: #3d3d3d;
        border-width: 2px;
        border-style: solid;
        border-color: aliceblue;
        border-radius: 10px;
    }
    
    /*
      camera part
    */
    .seventhForm #camera{
        transform: translate(-50%, -50%);
        height: 80vh;
        width: 70vh; 
    
        background-color: rgb(26, 26, 26);
    }
    
    .seventhForm .cameraButton{
        height: 9.75vh;
        width: 4.9vw;
        position: relative;
        top: 4.75%;
        left: 40%;
    }
    
    .seventhForm .closeButton{
        height: 7vh;
        position: relative;
        top: 3%;
        left: 0.5%;
    }
    
    .seventhForm .imgPrev{
        height: 9vh;
        width: 5.5vw;
        position: relative;
        top: 4.5%;
        left: 76.25%;
    }
}

/* MEDIUM VIEW 600px UP TO 1023px AND LANDSCAPE ORIENTATION*/
@media (min-width: 600px) and (max-width: 1024px) and (orientation: landscape){
    #cameraMainContainer #overlay{
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: #363636;
        opacity: 0.7;
        z-index: 99;
    }

    .seventhForm .cameraContainer{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 85%;
        width: 80%;
        background-color: #3d3d3d;
        border-width: 2px;
        border-style: solid;
        border-color: aliceblue;
        border-radius: 10px;
    }
    
    /*
      camera part
    */
    .seventhForm #camera{
        transform: translate(-50%, -50%);
        height: 80vh;
        width: 70vh; 
    
        background-color: rgb(26, 26, 26);
    }
    
    .seventhForm .cameraButton{
        height: 9.75vh;
        width: 4.9vw;
        position: relative;
        top: 4.75%;
        left: 40%;
    }
    
    .seventhForm .closeButton{
        height: 7vh;
        position: relative;
        top: 3%;
        left: 0.5%;
    }
    
    .seventhForm .imgPrev{
        height: 9vh;
        width: 5.5vw;
        position: relative;
        top: 4.5%;
        left: 76.25%;
    }
}

/* MEDIUM VIEW 600px UP TO 1023px AND PORTRAIT ORIENTATION*/
@media (min-width: 600px) and (max-width: 1024px) and (orientation: portrait){
    #cameraMainContainer #overlay{
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: #363636;
        opacity: 0.7;
        z-index: 99;
    }

    .seventhForm .cameraContainer{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 85%;
        width: 80%;
        background-color: #3d3d3d;
        border-width: 2px;
        border-style: solid;
        border-color: aliceblue;
        border-radius: 10px;
    }
    
    /*
      camera part
    */
    .seventhForm #camera{
        transform: translate(-50%, -50%);
        height: 80vh;
        width: 70vh; 
    
        background-color: rgb(26, 26, 26);
    }
    
    .seventhForm .cameraButton{
        height: 9.75vh;
        width: 4.9vw;
        position: relative;
        top: 4.75%;
        left: 40%;
    }
    
    .seventhForm .closeButton{
        height: 7vh;
        position: relative;
        top: 3%;
        left: 0.5%;
    }
    
    .seventhForm .imgPrev{
        height: 9vh;
        width: 5.5vw;
        position: relative;
        top: 4.5%;
        left: 76.25%;
    }
}

@media (max-width: 767px) and (orientation: portrait){
    #cameraMainContainer #overlay{
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: #363636;
        opacity: 0.7;
        z-index: 99;
    }

    .seventhForm .cameraContainer{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 85%;
        width: 80%;
        background-color: #3d3d3d;
        border-width: 2px;
        border-style: solid;
        border-color: aliceblue;
        border-radius: 10px;
    }
    
    /*
      camera part
    */
    .seventhForm #camera{
        transform: translate(-50%, -50%);
        height: 80vh;
        width: 70vh; 
    
        background-color: rgb(26, 26, 26);
    }
    
    .seventhForm .cameraButton{
        height: 9.75vh;
        width: 4.9vw;
        position: relative;
        top: 4.75%;
        left: 40%;
    }
    
    .seventhForm .closeButton{
        height: 7vh;
        position: relative;
        top: 3%;
        left: 0.5%;
    }
    
    .seventhForm .imgPrev{
        height: 9vh;
        width: 5.5vw;
        position: relative;
        top: 4.5%;
        left: 76.25%;
    }
}

@media (max-width: 767px) and (orientation: landscape){
    #cameraMainContainer #overlay{
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: #363636;
        opacity: 0.7;
        z-index: 99;
    }

    .seventhForm .cameraContainer{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 85%;
        width: 80%;
        background-color: #3d3d3d;
        border-width: 2px;
        border-style: solid;
        border-color: aliceblue;
        border-radius: 10px;
    }
    
    /*
      camera part
    */
    .seventhForm #camera{
        transform: translate(-50%, -50%);
        height: 80vh;
        width: 70vh; 
    
        background-color: rgb(26, 26, 26);
    }
    
    .seventhForm .cameraButton{
        height: 9.75vh;
        width: 4.9vw;
        position: relative;
        top: 4.75%;
        left: 40%;
    }
    
    .seventhForm .closeButton{
        height: 7vh;
        position: relative;
        top: 3%;
        left: 0.5%;
    }
    
    .seventhForm .imgPrev{
        height: 9vh;
        width: 5.5vw;
        position: relative;
        top: 4.5%;
        left: 76.25%;
    }
}

/* FOR SMALL SCREENS (MOBILE DEVICES) LANDSCAPE ORIENTATION*/
@media (max-width: 1000px) and (max-height: 500px) and (orientation: landscape){
    #cameraMainContainer #overlay{
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: #363636;
        opacity: 0.7;
        z-index: 99;
    }

    .seventhForm .cameraContainer{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 85%;
        width: 80%;
        background-color: #3d3d3d;
        border-width: 2px;
        border-style: solid;
        border-color: aliceblue;
        border-radius: 10px;
    }
    
    /*
      camera part
    */
    .seventhForm #camera{
        transform: translate(-50%, -50%);
        height: 80vh;
        width: 70vh; 
    
        background-color: rgb(26, 26, 26);
    }
    
    .seventhForm .cameraButton{
        height: 9.75vh;
        width: 4.9vw;
        position: relative;
        top: 4.75%;
        left: 40%;
    }
    
    .seventhForm .closeButton{
        height: 7vh;
        position: relative;
        top: 3%;
        left: 0.5%;
    }
    
    .seventhForm .imgPrev{
        height: 9vh;
        width: 5.5vw;
        position: relative;
        top: 4.5%;
        left: 76.25%;
    }
}

/* FOR SMALL SCREENS (MOBILE DEVICES) LANDSCAPE ORIENTATION*/
@media (max-height: 1000px) and (max-width: 500px) and (orientation: portrait){
    #cameraMainContainer #overlay{
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: #363636;
        opacity: 0.7;
        z-index: 99;
    }
    
    #cameraMainContainer .cameraContainer{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 60%;
        width: 80%;
        background-color: #3d3d3d;
        border-width: 2px;
        border-style: solid;
        border-color: aliceblue;
        border-radius: 10px;
    }
    
    /*
      camera part
    */
    #cameraMainContainer #camera{
        transform: translate(-50%, -50%);
        height: 70%;
        width: 90%; 
    
        background-color: rgb(26, 26, 26);
    }
    
    .seventhForm .cameraButton{
        height: 9.75vh;
        width: 4.9vw;
        position: relative;
        top: 4.75%;
        left: 40%;
    }
    
    .seventhForm .closeButton{
        height: 7vh;
        position: relative;
        top: 3%;
        left: 0.5%;
    }
    
    .seventhForm .imgPrev{
        height: 9vh;
        width: 5.5vw;
        position: relative;
        top: 4.5%;
        left: 76.25%;
    }
}